@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 7</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to assignment 7</h2>
        <p>
            This is for Assignment 7, it uses a web api to display CRUD operations
        </p>
    </div>
    